*{
  box-sizing: border-box;
}
.container{
  background-color: rgb(10, 10, 10);
  height: 15vh;
  width: 100%;
  
}
.logo img{
  width: 20em;
  height: 15vh;
  /* margin: 30px; */
  /* margin-top: 1%; */
 
}
.logo{
  height: 30%;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff; /* Bootstrap primary blue */
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: -2em;
  margin-right: 2em;
}

.navbar a:hover {
  background-color: #0056b3; /* Darker blue on hover */
  color: white;
}
